.form__box {
    margin-bottom: 30px;
}

.form__box__flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.form__box__flex--checkbox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
    align-content: flex-start;
}

.form__flex--checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form__label {
    margin-bottom: 10px;
    font-size: 14px;
}

.form__input {
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid silver;
    outline: none;
}

.form__select {
    width: 100%;
    height: 30px;
    border: 1px solid silver;
    outline: none;
}

.form__textarea {
    resize: none;
    width: 100%;
    border: 1px solid silver;
}


.form__input--checkbox {
    width: 15px;
    height: 15px;
    border-bottom: 1px solid silver;
    outline: none;
}

.form__button--cancel {
    background-color: grey;
    color: #fff;
}

.form__button--submit {
    background-color: var(--colorRojo);
    color: #fff;
}

.home__header__nav--search {
    order: 1;
    width: 300px;
}

.form__box__search {
   position: relative;
}

.form__button--search {
    background:none;
    text-align: center;
    border:none;
    font-size: 16px;
    color: grey;
    position: absolute;
    right: 5px;
    top: 8px;
    cursor: pointer;

}

.form__box__search input {
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    outline: none;
}


.form__button{
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    border: none;
    font-size: 12px;
    border-radius: 5px;
}

.form__box__flex--right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.form__error__msg {
    font-size: 10px;
    color: red;
}

.form__link {
    font-size: 14px;
}

.form__link a {
    color: var(--colorRojo);
}

.pointer {
    cursor: pointer;
}



@media (min-width:768px) {
    .form__row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .form__box, .form__box__flex, .form__box__flex--right, .form__box__flex--checkbox{
       width: 45%;
    }

    .home__header__nav--search {
        order: 0;
        
    }
}

@media (min-width:1024px){
    .home__header__nav--search {
        order: 1;
        width: 500px;
    }

    .home__header__nav--user {
        order : 2
    }
}